.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
}

#search-bar {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid rgb(188, 186, 186);
  border-radius: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s, border-radius 0.3s;
}

#search-bar:focus {
  outline: none;
  border-color: rgb(250, 248, 248);
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(213, 206, 206, 0.25);
}
